body {
  margin: 0;
  background: no-repeat url('img/background.svg');
  background-size: cover;
}

.wrapper {
  margin-left: 200px;
  width: 83%;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 85px 0 0;
  margin-bottom: 85px;
}

.section {
  display: flex;
}

.main {
  padding-right: 17%;
}
.img {
  display: flex;
  padding-top: 165px;
  padding-left: 25px;
}

.img__1 {
  background: left no-repeat url('img/temple.png');
  height: 422px;
  width: 317px;
  margin-right: 33px;
}
.img__2 {
  background: center no-repeat url('img/mirror.png');
  height: 380px;
  width: 284px;
  padding-top: 35px;
}
.img__3 {
  background: right no-repeat url('img/jungle.png');
  height: 380px;
  width: 242px;
  padding-top: 35px;
}

.main__title {
  position: absolute;
  padding-top: 55px;
  font: bold 280px/371px pt_serifbold, arial, helvetica, sans-serif;
  color: #F8EEE4;
  opacity: 40%;
  margin: 0;
  max-width: 40%;
}
.title {
  font: bold 98px/130px pt_serifbold, arial, helvetica, sans-serif;
  color: #F8EEE4;
  margin: 0;
  padding-top: 282px;
  padding-left: 83px;
  max-width: 40%;
}
.main__subtitle {
  font: 22px/26px museosanscyrl, arial, helvetica, sans-serif;
  color: #F8EEE4;
  padding-left: 22px;
  padding-bottom: 10px;
}

.logo {
  width: 146px;
  height: 55px;
  background: center no-repeat url('img/logo.svg');
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 38px;
  font: 500 22px/26px museosanscyrl, arial, helvetica, sans-serif;
  color: #F8EEE4;
  text-decoration: none;
  transition: .5s;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #F8EEE4;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
.menu__item:hover {
  opacity: .5;
}
.menu__item:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #F8EEE4;
}
.menu__item:hover:after {
  opacity: 1;
  width: 100%;
  top: 100%;
}

#menu__toggle {
display: none;
}

.main__button {
  display: inline-block;
  font: 22px/26px museosanscyrl, arial, helvetica, sans-serif;
  color: #fff;
  padding: 18px 92px;
  background: #D4BEA3;
  text-decoration: none;
  border-radius: 48px;
  transition: opacity .7s;
  margin-left: 20px;
}

.main__button:hover {
  opacity: .7;
}


@media (max-width: 1366px) {
  .wrapper {
    margin-left: 140px;
    width: 84%;
  }

  .header {
    padding: 63px 0 0;
    margin-bottom: 63px;
  }
  .img {
    padding-top: 112px;
    padding-left: 15px;
  }
  .img__1 {
    height: 300px;
    width: 226px;
    margin-right: 24px;
  }
  .img__2 {
    height: 234px;
    width: 202px;
    margin-right: 24px;
    margin-top: 16px;
  }
  .img__3 {
    height: 234px;
    width: 148px;
    margin-top: 16px;
  }
  .main__title {
    padding-top: 35px;
    font: bold 200px/265px pt_serifbold, arial, helvetica, sans-serif;
    max-width: 40%;
  }
  .title {
    font: bold 70px/93px pt_serifbold, arial, helvetica, sans-serif;
    padding-top: 195px;
    padding-left: 61px;
    max-width: 40%;
  }
  .main__subtitle {
    font: 16px/19px museosanscyrl, arial, helvetica, sans-serif;
    padding-left: 20px;
    padding-bottom: 6px;
  }
  .logo {
    background: center no-repeat url('img/logo1366.png');
    width: 104px;
    height: 39px;
  }
  .menu__item {
    margin-right: 27px;
    font: 500 16px/19px museosanscyrl, arial, helvetica, sans-serif;
  }
  .main__button {
    font: 16px/19px museosanscyrl, arial, helvetica, sans-serif;
    padding: 12px 65px;
    margin-left: 18px;
  }
}

@media (max-width: 1024px) {
  body {
    background-size: auto;
  }
  .wrapper {
    margin-left: 41px;
    width: 92%;
  }
  .main {
    padding-right: 8%;
  }
  .img {
    padding-left: 0;
  }
  .img__1 {
    height: 300px;
    width: 226px;
    margin-right: 24px;
  }
  .img__2 {
    height: 240px;
    width: 202px;
    padding-top: 30px;
  }
  .img__3 {
    height: 240px;
    width: 40px;
    padding-top: 30px;
  }
}

@media (max-width: 375px) {
  .img {
    display: none;
  }
  .header {
    margin-bottom: auto;
    padding: 43px 26px 24px;
  }
  .wrapper {
    margin: auto;
    width: 92%;
  }
  .main {
    padding: 0;
  }
  .logo {
    padding: 0;
  }
  .main__title {
    font: bold 170px/225px pt_serifbold, arial, helvetica, sans-serif;
  }
  .title {
    font: bold 60px/79px pt_serifbold, arial, helvetica, sans-serif;
    padding-top: 181px;
  }
  .main__subtitle {
    font: 18px/22px museosanscyrl, arial, helvetica, sans-serif;
    padding-bottom: 17px;
    padding-top: 18px;
    padding-left: 0;
    text-align: center;
    width: 84%;
  }
  .menu__item {
    display: none;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FCF5ED;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 30% 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }
  .menu__item {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 25px 0;
    color: #000;
    font: 500 30px/35px museosanscyrl, arial, helvetica, sans-serif;
    text-decoration: none;
  }
  .menu__item:first-child {
    padding-top: 14%;
  }
  .menu__item:hover {
    background-color: #fff;
  }
  .menu__item:hover:after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 3px;
    background: #FCF5ED;
    top: 100%;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
}
